@font-face {
  font-family: 'BC Arabic';
  src: url('../fonts/bcarabic/BCArabic-Black.woff2') format('woff2'),
      url('../fonts/bcarabic/BCArabic-Black.woff') format('woff'),
      url('../fonts/bcarabic/BCArabic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BC Arabic';
  src: url('../fonts/bcarabic/BCArabic-Bold.woff2') format('woff2'),
      url('../fonts/bcarabic/BCArabic-Bold.woff') format('woff'),
      url('../fonts/bcarabic/BCArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BC Arabic';
  src: url('../fonts/bcarabic/BCArabic-Light.woff2') format('woff2'),
      url('../fonts/bcarabic/BCArabic-Light.woff') format('woff'),
      url('../fonts/bcarabic/BCArabic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BC Arabic';
  src: url('../fonts/bcarabic/BCArabic-Regular.woff2') format('woff2'),
      url('../fonts/bcarabic/BCArabic-Regular.woff') format('woff'),
      url('../fonts/bcarabic/BCArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

