@font-face {
    font-family: 'BC Arabic';
    src: url('BCArabic-Black.woff2') format('woff2'),
        url('BCArabic-Black.woff') format('woff'),
        url('BCArabic-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BC Arabic';
    src: url('BCArabic-Bold.woff2') format('woff2'),
        url('BCArabic-Bold.woff') format('woff'),
        url('BCArabic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BC Arabic';
    src: url('BCArabic-Light.woff2') format('woff2'),
        url('BCArabic-Light.woff') format('woff'),
        url('BCArabic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BC Arabic';
    src: url('BCArabic-Regular.woff2') format('woff2'),
        url('BCArabic-Regular.woff') format('woff'),
        url('BCArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

